---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Authentication</title>
	</head>
	<body class="min-h-screen flex items-center justify-center bg-background">
		<div class="container max-w-lg mx-auto px-4">
			<slot />
		</div>
	</body>
</html>
