---
import { SignInCard } from "../components/sign-in";
import Layout from '../layouts/AuthLayout.astro';
---

<Layout title="Sign In">
  <div class="flex flex-col items-center justify-center py-12">
    <SignInCard client:load />
  </div>
</Layout>
