---
import { SignUpCard } from "../components/sign-up";
import Layout from '../layouts/AuthLayout.astro';
---

<Layout title="Sign Up">
  <div class="flex flex-col items-center justify-center py-12">
    <SignUpCard client:load />
  </div>
</Layout>
